{#   Custom template for Review panel within Case Studies section on a Product page   #}

<div {{ attributes }} class="review-wrapper">

    {{ entity.field_portrait_image }}

    <div class="details-wrapper">

        {{ entity.field_header }}
        {{ entity.field_rating }}
        {{ entity.field_logo }}
        {{ entity.field_text }}
        {{ entity.field_link }}

    </div>
</div>