{# Allows fields to be grouped to imporve layout #}

{#<div {{ attributes }} class="consumables-wrapper">#}


    {{ entity.field_image }}

    <div class="details-wrapper">

    {{ entity.title }}
    {{ entity.field_part_number }}
    {{ entity.field_rrp }}
    {{ entity.field_life_expectancy }}
    {{ entity.field_impurities_removed }}
    {{ entity.field_impact_of_overuse }}
    {{ entity.field_how_to_fit }}
    {{ entity.field_order }}

    </div>

{#</div>#}
